{% block body %}

    
<div class="exp-container">
    <h1 class="section-header">
        <span class="title-static">Experience</span>
        
    </h1>
    

    <div class="accordion" id="accordionExample">

        <div class="card bg-primary mb-3 project-card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Associate Solution Leader (SDE-I)
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body bg-primary">
                    <small class="card-title" style="color:white">Brane Enterprises Private Limited | July 2023- Present</small>

                    <br>
                    <br>
                    <ul class="custom-list">
                        <p class="card-text-heading" style="color:#f7e2e2;">Windows revamp</p>
                        <li>
                            <p class="card-text" style="color:#f4c2c2;">
                                Collaborated with a team to revamp the legacy codebase, integrating the latest flows and features like data flow management system and design system for components including versioning to align with the current web version.
                            </p>
                        </li>
                        <li>
                            <p class="card-text" style="color:#f4c2c2;">
                                Reworked UI/UX to enhance user experience, resulting in a more intuitive and visually appealing interface. Addressed and resolved 40+ bugs identified during testing, ensuring a stable release and increased performance
                            </p>
                        </li>
                        <br>
                        <p class="card-text-heading" style="color:#f7e2e2;">Workflow Builder</p>
                        <li>
                            <p class="card-text" style="color:#f4c2c2;">
                                Implemented connectors to enable seamless data linking and operations between data objects in a workflow builder.
                            </p>
                        </li>
                        <li>
                            <p class="card-text" style="color:#f4c2c2;">
                                Enhancing the overall feature and adding to its functionality empowers users to create connections between various structures at different levels, perform operations, and utilize a wide set of inbuilt functions through intuitive actions
                            </p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="card-divider"></div>

        <div class="card bg-primary mb-3 project-card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Associate Solution Leader Trainee (Software Development Intern)
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body bg-primary">
                    <small class="card-title" style="color:white">Brane Enterprises Private Limited | January 2023- June 2023</small>

                    <br>
                    <br>
                    <ul class="custom-list">
                        <li>
                            <p class="card-text" style="color:#f4c2c2;">
                                Worked on a project which mainly focuses on mapping data across various units of the solution.
                            </p>
                        </li>
                        <li>
                            <p class="card-text" style="color:#f4c2c2;">
                                Developed a responsive and adaptive UI for mobile, tablet and web platforms using Flutter utilizing BLoC for state management and created JSON structures for nested data to facilitate RESTful API integration.
                            </p>
                        </li>
                        <li>
                            <p class="card-text" style="color:#f4c2c2;">
                                Optimized performance, ensured smooth functionality, and conducted user testing to enhance the design.
                            </p>
                        </li>
                        <li>
                            <p class="card-text" style="color:#f4c2c2;">
                                Stack used – Flutter
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-divider"></div>

        <div class="card bg-primary mb-3 project-card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Software Development Intern
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body bg-primary">
                    <small class="card-title" style="color:white">Maveler logs | August 2021- October 2021</small>

                    <br>
                    <br>
                    <ul class="custom-list">
                        <li>
                            <p class="card-text" style="color:#f4c2c2;">
                                Developed a mobile application that assists in innovative travel blogging with user authentication and maps feature.
                            </p>
                        </li>
                        <li>
                            <p class="card-text" style="color:#f4c2c2;">
                                Stack used – Flutter ,Flask (backend)
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-divider"></div>

        <div class="card bg-primary mb-3 project-card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Undergraduate Student Researcher
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body bg-primary">
                    <small class="card-title" style="color:white">Shiv Nadar University | September 2021-present</small>

                    <br>
                    <br>
                    <ul class="custom-list">
                        <li>
                            <p class="card-text" style="color:#f4c2c2;">
                                Developing an IoT based smart irrigation system
                            </p>
                        </li>
                        <li>
                            <p class="card-text" style="color:#f4c2c2;">
                                Developing a Django application (deployed on digital ocean droplet) which assists the farmer with mindful usage of water for irrigation by analyzing the data through sensors placed in the field through the app and SMS features.
                            </p>
                        </li>
                        <li>
                            <p class="card-text" style="color:#f4c2c2;">
                                Aim to add prediction of soil moisture powered by machine learning for effective irrigation management system
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock body %}
