

{% block body%}
<div class="skills-container">
    <h2 class="skills-title">
      <span class="title-word title-word-1">I</span>
      <span class="title-word title-word-2">work</span>
      <span class="title-word title-word-3">with</span>
      <span class="title-word title-word-4">...</span>
    </h2>
    <div class="skills-wrapper">
    <div class="skills-inner-container">
            
      <div class="skill-card button-52">Flutter</div>
            <div class="skill-card button-52">Django</div>
            <div class="skill-card button-52">Flask</div>
            
          
    </div>
    <div class="skills-inner-container">
      <div class="skill-card button-52">HTML</div>
            <div class="skill-card button-52">CSS</div>
            <div class="skill-card button-52">Javascript</div>
            
    </div>
    <div class="skills-inner-container">
      <div class="skill-card button-52">Sql</div>
            <div class="skill-card button-52">MongoDb</div>
    </div>
    <div class="skills-inner-container">
    <div class="skill-card button-52">C++</div>
    <div class="skill-card button-52">Oops</div>
    <div class="skill-card button-52">DBMS</div>
    </div>
  </div></div>
  
{% endblock body%}